/*
 * Marenin Alexander
 * October 2012
 * http://github.com/ioncreature/webkit-developer-tools-dark-theme
 */

@import "includes/toolbar.styl"
@import "includes/scrollbars.styl"
//@import "includes/console.styl"
@import "includes/inspectorSyntaxHighlight"
@import "includes/layout"
@import "includes/misc.styl"
@import "includes/popover.styl"