/**********************************************/
/* CSS
  /**********************************************/

#-webkit-web-inspector .webkit-css-comment {
    color: #7C7C7C !important;
}

#-webkit-web-inspector .webkit-css-selector,
#-webkit-web-inspector .styles-selector {
    color: #C96666 !important;
}

#-webkit-web-inspector .webkit-css-property {
    color: #EEC574 !important;
}

#-webkit-web-inspector .webkit-css-keyword {
    color: #DB925F !important;
}

#-webkit-web-inspector .webkit-css-number,
#-webkit-web-inspector .properties-tree .value {
    color: #DB925F !important;
}

#-webkit-web-inspector .webkit-css-important,
#-webkit-web-inspector .webkit-css-at-rule {
    color: #B094BB !important;
}

#-webkit-web-inspector .webkit-css-string {
    color: #B5BC67 !important;
}

#-webkit-web-inspector .webkit-css-url {
    color: #EEC574 !important;
}