/**********************************************/
/* HTML
/**********************************************/

#-webkit-web-inspector .webkit-html-comment {
    color: #7C7C7C !important;
}

#-webkit-web-inspector .webkit-html-tag {
    color: #C96666 !important;
}

#-webkit-web-inspector .webkit-html-attribute-name {
    color: #C96666 !important;
}

#-webkit-web-inspector .webkit-html-attribute-value {
    color: #B5BC67 !important;
}

#-webkit-web-inspector .webkit-html-text-node, #-webkit-web-inspector .webkit-html-css-node {
    color: #C2C3C3 !important;
}

#-webkit-web-inspector .webkit-html-js-node {
    color: #C2C3C3 !important;
}

#-webkit-web-inspector .webkit-html-resource-link, #-webkit-web-inspector .webkit-html-external-link {
    color: #EEC574 !important;
}
