/**********************************************/
/* JavaScript
/**********************************************/

#-webkit-web-inspector .webkit-line-content,
#-webkit-web-inspector .webkit-javascript-ident {
    color: #FFF !important;
}

#-webkit-web-inspector .webkit-javascript-keyword {
    color: #DB925F !important;
}

#-webkit-web-inspector .webkit-javascript-comment {
    color: #7C7C7C !important;
}

#-webkit-web-inspector .webkit-javascript-string {
    color: #B5BC67 !important;
}

#-webkit-web-inspector .webkit-javascript-number {
    color: #DB925F !important;
}

#-webkit-web-inspector .webkit-javascript-regexp {
    color: #C96666 !important;
}

#-webkit-web-inspector .section .properties .name,
#-webkit-web-inspector .event-properties .name {
    color: #82A1BE !important;
}