/**********************************************/
/* Messages
/**********************************************/

#-webkit-web-inspector
    #console-messages
        background: #282B2E

    #console-messages a
        color: #666 !important

    #console-messages a:hover
        color: #999 !important

    .console-message
        color: #C0C2C4 !important
        font-weight: 100 !important

    .console-message,
    .console-user-command
        font-size: 14px !important
        border-bottom: 1px solid #3b3b3b !important

    .console-user-command > .console-message-text
        color: #C4C7C6 !important

    .console-formatted-number
        color: #EEC574 !important

    .console-formatted-string
        color: #B5BC67 !important

    .console-formatted-object
        color: #7C7C7C !important

    .console-formatted-function
        color: #FFF !important

    .console-formatted-regexp
        color: #C96666 !important

    .console-group-messages .section .header .title
        color: #F1F1F1 !important

    .console-group-messages .section .header::before,
    .properties-tree li.parent::before
        content: url(chrome-devtools://devtools/Images/treeRightTriangleWhite.png) !important

    .console-group-messages .section.expanded .header::before,
    .properties-tree li.parent.expanded::before
        content: url(chrome-devtools://devtools/Images/treeDownTriangleWhite.png) !important

    @-webkit-keyframes webkit-error-level
        0%   { color: #f77; !important }
        50%  { color: #f22; !important }
        100% { color: #f77; !important }

    .console-error-level .console-message-text .title
        color: #f66 !important
        -webkit-animation-name: webkit-error-level
        -webkit-animation-duration: 2s
        -webkit-animation-iteration-count: infinite
        -webkit-timing-function: ease-in-out
