/**********************************************/
/* Prompt
/**********************************************/

#-webkit-web-inspector
    #console-prompt
        color: color-text !important

    #console-prompt::before
        color: #FFF !important