#-webkit-web-inspector


    /* CSS */

    .properties-tree .value
        color: #FFCD22 !important

    .webkit-css-comment
        color: #66747B !important

    .webkit-css-url
        color: #EEC574 !important

    .webkit-css-color
        color: #EEC574 !important

    .webkit-css-string
        color: #E0E2E4 !important

    .webkit-css-keyword
        color: #DB925F !important

    .webkit-css-number
        color: #FFCD22 !important

    .webkit-css-property
        color: #678CB1 !important

    .webkit-css-at-rule
        color: #B094BB !important

    .webkit-css-selector,
    .styles-selector
        color: #93C763 !important

    .webkit-css-bang-keyword
        color: rgb(200, 0, 180)

    .webkit-css-important
        color: #E56258 !important


    /* JavaScript */

    .webkit-javascript-comment
        color: #818E96 !important

    .webkit-javascript-keyword
        color: #93C763 !important

    .webkit-javascript-number
        color: #FFCD22 !important

    .webkit-javascript-string
        color: #EC7600 !important

    .webkit-javascript-regexp
        color: #D39745 !important

    .webkit-line-content,
    .webkit-javascript-ident
        color: #E0E2E4 !important


    /* HTML */

    .webkit-html-comment
        color: #7C7C7C !important

    .webkit-html-tag
        color: #8CBBAD !important

    .webkit-html-doctype
        color: #557182

    .webkit-html-attribute-name
        color: #B3B689 !important

    .webkit-html-attribute-value
        color: #E8E2B7 !important

    .webkit-html-js-node
        color: #C2C3C3 !important

    .webkit-html-external-link,
    .webkit-html-resource-link
        color: #EEC574 !important
        text-decoration: none
        &:hover
            text-decoration: underline
