/**********************************************/
/* Layout
/**********************************************/

#-webkit-web-inspector
    .script-view,
    .properties-tree,
    .pane,
    .breakpoint-list li,
    .pane > .body .info
        color: #E0E2E4 !important

    .script-view,
    .text-editor-contents,
    .pane.expanded,
    #elements-content,
    .resource-view.json
        background: #282B2E !important
        font-size: 14px !important
        line-height: 19px !important

    .highlight
        color: #F1F1F1

    li.hovered:not(.selected) .selection
        background: rgba(255, 255, 255, .2) !important

    #elements-content .selected
        background-color: #373B41 !important

    .parent::before
        content: url(chrome-devtools://devtools/Images/treeRightTriangleWhite.png) !important
        position: relative
        z-index: 999

    .parent.expanded::before
        content: url(chrome-devtools://devtools/Images/treeDownTriangleWhite.png) !important

    .sidebar-separator
        padding: 3px 5px 5px !important
        background: #242729 !important
        color: #b3b3b3 !important
        text-shadow: none !important