/**********************************************/
/* Everything Else
/**********************************************/

#-webkit-web-inspector .editing {
    color: #fff !important;
    background-color: #000 !important;
}

#-webkit-web-inspector .styles-section.read-only {
    background: #373B41 !important;
}

#-webkit-web-inspector .styles-section,
#-webkit-web-inspector .subtitle {
    color: #7C7C7C !important;
}

#-webkit-web-inspector .styles-sidebar-separator,
#-webkit-web-inspector .pane > .title {
    background-image: -webkit-linear-gradient(#555, #333) !important;
    border-top-color: #666 !important;
    border-bottom-color: #333 !important;
    color: #bbb !important;
    text-shadow: black 0 1px 0 !important;
    text-overflow: ellipsis !important;
}

#-webkit-web-inspector .pane > .title > button,
#-webkit-web-inspector .pane > .title > select {
    -webkit-filter: invert(1);
}

#-webkit-web-inspector .split-view-sidebar-right {
    background: #222 !important;
}

#-webkit-web-inspector .styles-section .properties li.parent::before,
#-webkit-web-inspector .section > .header::before,
#-webkit-web-inspector .properties-tree li.parent::before,
#-webkit-web-inspector .event-bars .event-bar .header::before,
#-webkit-web-inspector .outline-disclosure li.parent::before {
    content: url(chrome-devtools://devtools/Images/treeRightTriangleWhite.png) !important;
}

#-webkit-web-inspector .styles-section .properties li.parent.expanded::before,
#-webkit-web-inspector .section.expanded > .header::before,
#-webkit-web-inspector .properties-tree li.parent.expanded::before,
#-webkit-web-inspector .event-bars .event-bar.expanded .header::before,
#-webkit-web-inspector .outline-disclosure li.parent.expanded::before {
    content: url(chrome-devtools://devtools/Images/treeDownTriangleWhite.png) !important;
}

#-webkit-web-inspector .child-editing {
    color: #fff !important;
}

#-webkit-web-inspector .section .properties .name,
#-webkit-web-inspector .event-properties .name {
    color: #82A1BE !important;
}

#-webkit-web-inspector .styles-selector {
    color: #C96666 !important;
}

#-webkit-web-inspector .section .header {
    color: #CCC !important;
}

#-webkit-web-inspector .properties .value {
    color: #C2C3C3 !important;
}

#-webkit-web-inspector .metrics {
    color: #333 !important;
}

#-webkit-web-inspector .metrics .border {
    border-color: #FFF !important;
}

#-webkit-web-inspector .event-bars .event-bar .header .title {
    color: #969796 !important;
    text-shadow: none !important;
}

#-webkit-web-inspector .console-formatted-number {
    color: #EEC574 !important;
}

#-webkit-web-inspector .console-formatted-string {
    color: #B5BC67 !important;
}

#-webkit-web-inspector .console-formatted-object,
#-webkit-web-inspector .console-formatted-node,
#-webkit-web-inspector .console-formatted-array {
    color: #7C7C7C !important;
}

#-webkit-web-inspector .console-formatted-function {
    color: #FFF !important;
}

#-webkit-web-inspector .console-formatted-regexp {
    color: #C96666 !important;
}

#-webkit-web-inspector .styles-element-state-pane {
    background: #373B41 !important;
}