.scripts-pause-on-exceptions-status-bar-item .glyph
    -webkit-mask-position: -256px 0

.scripts-pause-on-exceptions-status-bar-item.toggled-all .glyph
    background-color: rgb(66, 129, 235)

.scripts-pause-on-exceptions-status-bar-item.toggled-uncaught .glyph
    background-color: purple

.scripts-toggle-pretty-print-status-bar-item .glyph
    -webkit-mask-position: -256px -24px

.scripts-toggle-pretty-print-status-bar-item.toggled .glyph
    background-color: rgb(66, 129, 235)

.evaluate-snippet-status-bar-item .glyph
    -webkit-mask-position: -64px -48px

.evaluate-snippet-status-bar-item.toggled .glyph
    background-color: rgb(66, 129, 235)

#scripts-debug-toolbar
    position: relative
    margin-top: -1px
    height: 24px
    border-bottom: 1px solid rgb(202, 202, 202)

#scripts-debug-sidebar-contents
    position: absolute
    top: 22px
    bottom: 0
    left: 0
    right: 0
    overflow: auto

#scripts-editor-toolbar
    position: relative
    margin-top: -1px
    height: 24px

#scripts-files
    max-width: 250px

#scripts-files option.extension-script
    color: rgb(70, 134, 240)

#scripts-functions
    max-width: 150px

.toggle-breakpoints .glyph
    -webkit-mask-image: url(Images/statusbarButtonGlyphs.png)
    -webkit-mask-position: -32px 0
    -webkit-mask-size: 320px 72px
    background-color: rgb(96, 96, 96) !important

.scripts-views-container
    position: absolute
    top: 23px
    right: 0
    bottom: 0
    left: 0

.script-view
    display: none
    overflow: hidden
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

.script-view.visible
    display: block

.dedicated-worker-item
    margin: 5px 0px 5px 1px

#shared-workers-list
    margin: 5px 0px 5px 20px
    font-style: italic

#pause-workers-checkbox > input
    position: relative
    top: 2px

#scripts-editor-container-tabbed-pane .tabbed-pane-header
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#E5E5E5))

#scripts-editor-container-tabbed-pane .tabbed-pane-header-contents
    margin-left: 20px
    margin-right: 36px

#scripts-editor-container-tabbed-pane .tabbed-pane-header-tab
    border-bottom: 1px solid #BBB

.function-location-link
    float: right
    margin-left: 10px

.function-popover-title
    border-bottom: 1px solid #AAA
    margin-bottom: 3px
    padding-bottom: 2px

.function-popover-title .function-name
    font-weight: bold