#-webkit-web-inspector ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
#-webkit-web-inspector ::-webkit-scrollbar:hover {
    height: 10px;
}
#-webkit-web-inspector ::-webkit-scrollbar-button:start:decrement,
#-webkit-web-inspector ::-webkit-scrollbar-button:end:increment {
    height: 0px;
    width: 0px;
}
#-webkit-web-inspector ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.12);
}
#-webkit-web-inspector ::-webkit-scrollbar-track:hover {
    background-color: rgba(230, 230, 230, 0.18);
}
#-webkit-web-inspector ::-webkit-scrollbar-thumb:vertical,
#-webkit-web-inspector ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 20px;
    background: rgba(10, 10, 10, 0.75);
    height: 50px;
    width: 50px;
}
#-webkit-web-inspector ::selection {
    background: #81b281;
    color: #ddd;
}
