/*
 * Marenin Alexander
 * December 2012
 * http://github.com/ioncreature/webkit-developer-tools-dark-theme
 */

/*
 * Toolbar
 */

#-webkit-web-inspector-ololo
    #toolbar
        background-image: -webkit-linear-gradient(#555, #333) !important
        height: 36px !important

    #main
        top: 36px !important
    
    .toolbar-item .toolbar-icon
        -webkit-transform: scale(0.72) translateY(-4px)
    
    .toolbar-item .toolbar-label
        display: none !important

    .status-bar
        background-image: -webkit-linear-gradient(#999, #777) !important
        color: #CCC !important

    &.inactive
        #toolbar
            background-image: -webkit-linear-gradient(#666, #444) !important
        .toolbar-item:hover:after
            display: none
        .status-bar
            background-image: -webkit-linear-gradient(#AAA, #888) !important

    &.compact
        &.status-bar
            .toolbar-item:hover:after
                display: inline
            .toolbar-icon
                -webkit-transform: translateY(1px)
                margin: 10px 5px 0 5px !important
        #toolbar
            height: 30px !important
        #main
            top: 30px !important

    .toolbar-item.elements:hover:after
        content: "Elements"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none
    
    .toolbar-item.elements:active:hover:after
        display: none
    
    .toolbar-item.resources:hover:after
        content: "Resources"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none
    
    .toolbar-item.resources:active:hover:after
        display: none
    
    .toolbar-item.network:hover:after
        content: "Network"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none
    
    .toolbar-item.network:active:hover:after
        display: none
    
    .toolbar-item.scripts:hover:after
        content: "Sources"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none
    
    .toolbar-item.scripts:active:hover:after
        display: none
    
    .toolbar-item.timeline:hover:after
        content: "Timeline"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none
    
    .toolbar-item.timeline:active:hover:after
        display: none
    
    .toolbar-item.profiles:hover:after
        content: "Profiles"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none
    
    .toolbar-item.profiles:active:hover:after
        display: none
    
    .toolbar-item.audits:hover:after
        content: "Audits"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none
    
    .toolbar-item.audits:active:hover:after
        display: none
    
    .toolbar-item.console:hover:after
        content: "Console"
        z-index: 9999
        position: absolute
        display: inline
        padding: 0 5px
        margin-left: -12px
        background: rgba(255, 255, 255, 0.7)
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        color: #555
        font-size: 12px
        pointer-events: none