/*
 * Marenin Alexander
 * December 2012
 * http://github.com/ioncreature/webkit-developer-tools-dark-theme
 */

/*
 * Toolbar
 */

#-webkit-web-inspector
    #toolbar
        background-image: -webkit-linear-gradient(#555, #333) !important
        //height: 36px !important

    #main
        top: 26px !important
    
    .toolbar-item .toolbar-icon
        -webkit-transform: scale(0.72) translateY(-4px)
    .toolbar-item .toolbar-label
        color: color-caption !important
    .status-bar
        background-image: -webkit-linear-gradient(#999, #777) !important
        color: color-caption !important

    &.inactive
        #toolbar
            background-image: -webkit-linear-gradient(#666, #444) !important
        .status-bar
            background-image: -webkit-linear-gradient(#AAA, #888) !important

    &.compact
        &.status-bar
            .toolbar-icon
                -webkit-transform: translateY(1px)
                margin: 10px 5px 0 5px !important
        #toolbar
            height: 30px !important
        #main
            top: 30px !important
