/* COLORS */

color-keyword = #93C763
color-comment = #818E96
color-number = #FFCD22
color-html-tag = #8CBBAD
color-doctype = #557182
color-string = #EC7600
color-property = #678CB1
color-important = #E56258


